@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.conteiner{
   width: 375px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

.flex-row{
display: flex;
flex-direction: row;
}

.flex-column{
display: flex;
flex-direction: column;
}

.justify-between{
justify-content: space-between
}

.justify-center{
justify-content:center
}

.align-center{
align-items: center;
}




.content__conteiner{
    width: 320px;
    margin: 0 auto;
    
}
.header{
  color: white;
    height: 65px;

}

.header__logo{
    width: 72px;
    height: 19px;
}

.img-conteiner{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.header__conteiner{
    height:  100%;
}

.header__meniu{
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 50%;
    position: relative;
   
}

.header__bar{
   
     position: absolute;   
}


.header__bar, .header__bar::before, .header__bar::after{
 width: 15px;
    height: 2px;
    background-color: white;
}


 .header__bar::before, .header__bar::after{
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
}



.header__bar::before{
    
    top: -6px;

}

.header__bar::after{
    top: 6px;
    
}

.header__nav{
    display: none;
    color: black;

}
.header__button {
    display: none;

}


.header__meniu{
    display: flex;

}

.heading1{
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.1px;

}

.fetures__list-item{
    gap: 10px;
    padding: 24px;
    text-align: center;
}



.fetures__list-title{
  font-weight: 700;
  line-height: 28px;
  
}


.fetures__list-item >p{
   height:  100%;
   width: 327px;
  
}

.fetures__item-title {
    display: flex;
    justify-content: center;   
    gap: 20px;
}

.visitors_conteiner{
    display: flex;
    flex-direction: column;
    gap: 34px;
    line-height: 24px;
    margin-bottom: 24px;
}




.black-sircle{
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: black;
  
}


.fetures__about__title{
    display: flex;
    gap: 25px;
}

/* fiters section */



.fetures__list{
    background-color: #F3F3F3;
}

.fetures__about__conteiner{
    gap: 20px;
    text-align: center;
    font-size: 18px;

}

.fetures__about__title h2{
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;

}


.fiture__about__butons{
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-weight: 600;
}



.fiture__butons{
 
    width: 90px;
    height: 40px;
    font-size: 14px;

}
.fiture__about__img{
    width: 327px;
    height: 309px;
}


.fiture__about__img img{
    border-radius: 12px;

}



.etures__about__title{

}


.subscribe{
    display: none;
}

/* //visitors */

.visitors__section{

background-color: black;
padding-top: 50px;
color: white;
text-align: center;
gap: 14px;
width: 375px;
height: 523px;
line-height: 24px;
}
.visitors_title{
    display: flex;
   flex-direction: column;
    gap: 14px;
}

.visitors_title div{
    display: flex;
   flex-direction: column;
    gap: 14px;
}

.visitors_title-top h2{
      font-size: 16px;
    font-weight: 900;


}

.visitors__img{
    display: flex;
align-items: center;
justify-content: center;

  
    margin: 0 auto;
}


.visitors__content p{
    font-size: 14px;

}



.visitors__aboutcontent{
    font-size: 14px;
    gap: 14px;
}



.visitors__content{
    width: 327px;
    display: flex;
    flex-direction: column;
    gap: 14px;

}




/* //section tagline */

.tagline__img img{
    width: 375px;
    height: 500px;
}


.tagline{
    position: relative;
}
.tagline__title{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 247px;
     text-align: center;
    color: white;
}

.tagline__title h2{
    font-weight: 900;
    font-size: 28px;
    line-height: 48px;
   

}


.tagline__title h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

}

.white-button{

width: 80px;
height: 40px;
font-weight: 700;
background-color:white;
border-radius: 24px;
color: black;
border: none;
cursor: pointer;
}


.footer__nav{
   
    z-index: 1;
    

}

.column__list ul{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
     margin-top: 16px;
}


.column__list {
   
   justify-content: start;
   text-align:center;
   justify-content: center;
  
}

.footer__logo{
    z-index: 2;
   display: flex;
   justify-content: center;
 
}

.column__list h3{
   
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    justify-content: center;
   width: 98px;
   
}

.first__column ul{

    display: flex;
    flex-direction: column;
    gap: 8px;

}

.footer__conteiner{
    
    background-color: black;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 50px 30px ;
  
  
}

@media  (max-width:350px) {

  .fetures__list-item >p{

   width: 100%;
  



}

.footer__conteiner{
    
    background-color: black;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 50px 30px ;
  
  
}
}




@media  (min-width:744px) {

   .header__nav{
    display: block;

}
.header__button {
    display: block;

} 
.header__meniu{
    display: none;
}


.conteiner{
   width: 744px;
   
}

.content__conteiner{
    width: 696px;
}
.header__nav ul{
    width: 320px;
    text-transform: capitalize;
}

.action-button{

width: 100px;
height: 48px;
font-weight: 700;
background-color:black;
border-radius: 24px;
color: white;
cursor: pointer;
}

.header__logo{
    width: 100px;
    height: 27px;
}




.footer__conteiner{
    
   width: 744px;
   padding: 25px 25px;

  
  
}

.fetures__list-item >p{

   width: 100%;
  
}

.fetures{
    display: flex;
    flex-direction: column-reverse;
}

.fiture__about__img{
    width: 100%;
    height: 499px;
}
    

.visitors__img img{
    width: 696px;

}





.visitors__content {
  display: flex;
  flex-direction: column-reverse;
  font-size: 16px;
  width: 696px;

}



.tagline__img img{
    width: 744px;
    height: 500px;
}

.tagline__title h2{
   
    font-size: 40px;  

}




.tagline__title{
    width: 744px;
    height: 184px;
   gap: 12px;
}

.visitors__content h2{
    font-size: 24px;
    font-weight: 900px;
    line-height: 32px;
}


.visitors__content p{
    font-size: 16px;
    font-weight: 400px;
    line-height: 32px;
}
.visitors__aboutcontent{
    font-size: 16px;
}

.footer__nav, .footer__logo {
    justify-content:left;

}
.footer__conteiner{
    
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 20px;
  
  
}

.footer__logo{
    width: 87px;
    position: relative;
  
   

}




.footer__img{

   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);

    

} 

.footer__nav{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    
   
}



.column__list {
   
 
   text-align:left;
   justify-content: center;
  
}
}

@media (min-width:1024px) {

.content__conteiner{
    width: 980px;
}

.fetures__list-conteiner{
    flex-direction: row;
    align-items: flex-start;
}




.fetures__item-title {

   display: flex;
   justify-content:flex-start;

    
}

.fetures__list-item >p{
    text-align: start;

}


.fiture__about__img{
    width: 100%;
    height: 450px;
}



.conteiner{
   width: 1024px;
   
}


.tagline__img img{
    width: 1024px;
    height: 588px;
}


.tagline__title{
    width: 600px;
    height: 204px;
   gap: 12px;
}


    .fiture__about__butons{
    display: flex;
    flex-direction: row;}


    .visitors_conteiner{
        display: flex;
        flex-direction: row;
    }
    .visitors__img{
        width: 960px;
        height: 550px;
    }

    .visitors__content h2{
        width: 416px;
        height: 96px;
        align-items: start;
    }

    .visitors_conteiner{
        width: 960px;
        height: 185px;
            }


     .footer__conteiner{
    
   width: 1024px;
   gap: 30px;
  
  
}

     .footer__nav{
    

   gap: 130px;
  
  
}
}





@media (min-width:1440px) {



.conteiner{
   width: 1440px;
   
}

.content__conteiner{
    width: 1380px;
}

.fetures__about__conteiner{
    flex-direction: row;
}



.fetures__about__conteiner{
    gap: 130px;
}
    

.visitors__section{
    display: flex;
    flex-direction: row;
}


.tagline__img img{
    width: 1440px;
    height: 564px;
}


.tagline__title{
    width: 540px;
    height: 204px;
   
}

.fiture__about__img{
    width: 490px;
    height: 428px;


}
.fetures__about__title h2{
    font-size: 56px;
    font-weight: 900;
  
    line-height: 60px;

}

.fetures__about__title {
  width: 490px;
}



 .visitors_conteiner {
        display: flex;
        flex-direction: column;
        text-align: start;
        width: 503px;
        justify-content: center;
    
    

}

.visitors__section{
    width: 1440px;
}


.visitors__content p{
    width: 416px;

}


.subscribe{
    display: block;
    color: #F3F3F3;
}


.footer__conteiner{
    padding: 20px;
    width: 1440px;
    height: 114px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 auto;
  
    
}
.footer__nav {
    margin-left: 50px;
    justify-content: center;
  
  padding: 10px;
}

.footer__img{
 
    display: block;
    top: 50%;
    transform: translate(-50%,-160%);
  
}
.subscribe p{
    width: 210px;
    
}

.subscribe {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
}